<div class="page__footer">
  <footer>
    <div class="page__footer-follow">
      <ul class="social-icons">
        <li>
          <a href="https://truonghekhoahoc.github.io/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/truongkhoahocvietnam/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
          </a>
        </li>
      </ul>
    </div>

    <div class="page__footer-copyright">
      <p>Powered by Vietnam School of Science</p>
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </div>
  </footer>
</div>
